.fadeInDown{
    transform: translate3d(0, -20px, 0);
}

.fadeInUp{
    transform: translate3d(0, 20px, 0);
}

.fadeInRight{
    transform: translate3d(20px, 0, 0);
}

.fadeInLeft{
    transform: translate3d(-20px, 0, 0);
}

[data-anime]{
    opacity: 0;
}

.anime{
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
}

.scroll-animado a img{
    animation-name: setas-animada;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes setas-animada{
    from{
        margin-top: 4%;
    }

    to{
        margin-bottom: 4%;
    }
}

.seta-animado img{
    animation-name: seta-top-animada;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes seta-top-animada{
    from{
        margin-bottom: 10%;
    }

    to{
        margin-top: 10%;
    }
}