.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 32px;
    position: relative;
}

.footer::after{
    background-color: var(--color-03);
    content: "";
    width: 96%;
    height: 2px;
    position: absolute;
    bottom: 8px;
}

.footer .footer-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.footer-links li a{
    padding: 6px;
    transition: 0.4s;
}

.footer-links li a:hover{
    color: var(--color-03);
}

.copy{
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 120px;
}

/* Media Queries */

@media (max-width: 800px){
    .footer::after{
        width: 94%;
    }

    .copy{
        text-align: center;
    }
}

@media (max-width: 400px){
    .footer{
        justify-content: center;
        gap: 32px;
    }

    .footer .footer-links{
        gap: 18px;
    }

    .copy{
        text-align: center;
    }
}