*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.fechar{
    display: none !important;
}

a, button{
    color: inherit;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.scroll-animado img[src$=".svg"]{
    width: 14px;
}

.introducao-info-img img[src$=".jpg"]{
    border-radius: 8px;
}

.btns .btn{
    background-color: rgba(178, 178, 178, 0.15);
    font: 400 1.12rem/1.33 var(--font-poppins);
    border: 2px solid var(--color-01);
    border-radius: 50px;
    padding: 10px 20px;
    transition: 0.4s;
    text-align: center;
    cursor: pointer;
}

.btns .btn:hover{
    background-color: var(--color-01);
    color: var(--color-04);
}

.seta-animado{
    background-color: var(--color-02);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: fixed;
    /* right: 180px; */
    right: 100px;
    bottom: 28px;
    z-index: 1;
}

.video{
    background-color: var(--color-02);
    width: 100%;
    border-radius: 4px;
    position: relative;
    padding-bottom: 56.25%;
}

.video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

/* Media Queries */

@media (max-width: 800px){
    .seta-animado{
        width: 46px;
        height: 46px;
        right: 50px;
    }

    .seta-animado img{
        height: 32px;
    }
}

@media (max-width: 500px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }

    .seta-animado{
        right: 10px;
    }
}