.header-bg{
    background: rgba(0, 0, 12, 70%) url("../../imgs/bg/Jack_The_Jumper_Main_Gif.gif") bottom center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-menu{
    display: flex;
    gap: 10px;
}

.header-menu li a{
    padding: 10px;
    transition: 0.4s;
}

.header-menu li a:hover{
    color: var(--color-03);
}

.header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.header-info p{
    max-width: 583px;
    text-align: center;
    margin-top: 32px;
}

.header-info p a{
    text-decoration: underline;
}

.header-info p a:hover{
    text-decoration: none;
}

.header-info .btns{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.header-info .scroll-animado a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.header-info .scroll-animado a span{
    text-transform: uppercase;
}

/* Media Queries */

@media (max-width: 800px){
    .header{
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }

    .header-info p{
        max-width: 480px;
        margin-top: 16px;
    }
}

@media (max-width: 600px){
}