.introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 120px;
}

.introducao-info{
    display: flex;
    align-items: center;
    gap: 140px;
    padding-top: 80px;
    padding-bottom: 120px;
}

.introducao-info .introducao-desc{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.introducao-desc .btns{
    display: flex;
    gap: 40px;
}

.modal{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.75);
    backdrop-filter: blur(6px);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 9999;
}

body.modal-aberto{
    overflow: hidden;
}

.modal.ativo{
    opacity: 1;
    visibility: visible;
}

.modal-conteudo{
    background-color: var(--color-01);
    border: 1px solid var(--color-03);
    border-radius: 16px;
    padding: 20px;
    max-width: 50%;
}

.btn-close{
    background: var(--color-04);
    color: var(--color-03);
    float: right;
    font-size: 28px;
    font-weight: bold;
    width:36px;
    height:36px;
    border-radius:50%;
    display:grid;
    place-items:center;
    transition:.3s;
}

.btn-close:hover, .btn-close:focus{
    color: var(--color-04);
    text-decoration: none;
    cursor: pointer;
}

.instrucao-jogo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.instrucao-jogo ul li + li{
    padding-top: 24px;
}

.download-jogo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download-jogo a{
    text-decoration: underline;
}

/* Media Queries */

@media (min-width: 1600px){
    .modal-conteudo{
        max-width: 40%;
    }
}

@media (max-width: 1100px){
    .introducao-info-img img{
        width: 450px;
        height: auto;
    }

    .introducao-info{
        gap: 70px;
    }

    .introducao-info .introducao-desc{
        gap: 30px;
    }
}

@media (max-width: 900px){
    .introducao-info{
        justify-content: center;
        flex-wrap: wrap;
    }

    .introducao-info .introducao-desc{
        align-items: center;
        gap: 30px;
    }

    .introducao-info .introducao-desc p{
        text-align: center;
    }

    .modal-conteudo{
        max-width: 70%;
    }
}

@media (max-width: 500px){
    .introducao-info-img img{
        width: 350px;
    }

    .introducao-desc .btns{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .modal-conteudo{
        max-width: 80%;
    }
}

@media (max-width: 400px){
    .introducao-info-img img{
        width: 300px;
    }

    .introducao-desc .btns .btn{
        font-size: 1rem;
    }
}