.perguntas{
    padding-top: 120px;
    padding-bottom: 120px;
}

.perguntas h2{
    text-align: center;
}

.perguntas-list{
    padding-top: 80px;
}

.perguntas-list .pergunta{
    padding: 20px;
    border-radius: 5px;
}

.perguntas-list dl .pergunta:nth-child(odd){
    background-color: var(--color-02);
}

.perguntas-list dl .pergunta dt button{
    text-align: left;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
}

.perguntas-list dl .pergunta dd{
    display: none;
    padding-top: 20px;
    padding-left: 16px;
    max-width: 80ch;
}

.perguntas-list dl .pergunta dd.ativa{
    display: block;
}

/* Media Queries */