:root{
    --color-01: #FFFFFF;
    --color-02: #EEEEEE;
    --color-03: #B2B2B2;
    --color-04: #1E1E1E;
}

.cor-1{
    color: var(--color-01);
}

.cor-2{
    color: var(--color-02);
}

.cor-3{
    color: var(--color-03);
}

.cor-4{
    color: var(--color-04);
}

.bg-1{
    background-color: var(--color-01);
}

.bg-2{
    background-color: var(--color-02);
}

.bg-3{
    background-color: var(--color-03);
}

.bg-4{
    background-color: var(--color-04);
}