.historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 120px;
}

.historia-info{
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-top: 80px;
}


.historia-trailer{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* .historia-trailer .trailer{
    background-color: var(--color-03);
    width: 1160px;
    height: 500px;
} */

.historia-trailer .historia-trailer-desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Media Queries */