.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 20px;
    gap: 0px 40px;
}

.sobre-img{
    background-color: var(--color-p1);
    width: auto;
    height: 400px;
}

.sobre-desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre-desc p{
    font-size: 1.15rem;
    line-height: 1.25;
}

.sobre-personagens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    gap: 100px;
}

.personagem{
    display: grid;
    align-items: center;
    gap: 20px;
}

.personagem-img{
    background-color: var(--color-p8);
    width: 300px;
    height: 250px;
}

.personagem-img img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: right;
    border-radius: 4px;
}

.personagem-desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;;
}

.personagem-desc h3{
    font-size: 1.75rem;
    line-height: 1.25;
    text-align: center;
}

.personagem-desc p{
    font-size: 1.25;
    line-height: 1.45;
}