.header-bg{
    background: rgba(0, 0, 12, 70%) url("../../assets/bg/Jack_The_Jumper_Main_Gif.gif") bottom center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    /* padding-bottom: 40px; */
}

.header-menu{
    display: flex;
    gap: 10px;
}

.header-menu li a{
    padding: 10px;
    transition: 0.4s;
}

.header-menu li a:hover{
    color: var(--color-03);
}

.header-menuMobile{
    display: none;
}

body.menu-aberto{
    overflow: hidden;
}

.header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.header-info p{
    max-width: 583px;
    text-align: center;
    margin-top: 32px;
}

.header-info p a{
    text-decoration: underline;
}

.header-info p a:hover{
    text-decoration: none;
}

.header-info .btns{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.header-info .scroll-animado a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.header-info .scroll-animado a span{
    text-transform: uppercase;
}

/* Media Queries */

@media (max-width: 1500px){
    .header-bg{
        height: 120vh;
    }
}

@media (max-width: 800px){
    .header{
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }

    .header-info p{
        max-width: 480px;
        /* margin-top: 16px; */
    }
}

@media (max-width: 600px){
    .header-bg{
        height: 110vh;
    }

    .header{
        justify-content: space-between;
        /* position: relative; */
    }

    .header-list.ativar .header-menu{
        visibility: visible;
        opacity: 1;
        top: 0;
    }

    .header-menu{
        background-color: var(--color-04);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        position: fixed;
        inset: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
    }

    .header-menu li{
        list-style: none;
    }

    .header-menu li a{
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    .header-menuMobile{
        display: flex;
        position: fixed;
        top: 30px;
        right: 20px;
        z-index: 1000;
        cursor: pointer;
    }

    .header-menuMobile span{
        color: var(--color-01);
    }

    .hamburger{
        border-top: 2px solid var(--color-03);
    }

    .hamburger::before,
    .hamburger::after{ 
        background-color: var(--color-03);
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    .header-list.ativar .hamburger{
        border-top-color: transparent;
    }

    .header-list.ativar .hamburger::before{
        transform: rotate(135deg);
    }

    .header-list.ativar .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (max-width: 500px){
    .header-bg{
        height: 102vh;
    }

    .header-img{
        width: 140px;
        height: 60px;
    }

    .header-menu{
        top: 100px;
        right: 15px;
    }

    .header-info p{
        max-width: 380px;
    }

    .header-info .btns .btn{
        font-size: 1rem;
        padding: 5px;
    }
}